# Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/Flutter/
ios/build/

# macOS
macos/Flutter/
macos/build/

# Windows
windows/flutter/
windows/build/

# Linux
linux/flutter/
linux/build/

# Web
web/.dart_tool/

# IDEs & configs
.idea/
.vscode/
*.iml

# Others
*.log
